<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InteSchBusiness.Properties.Settings.app_inteschConnectionString"
            connectionString="Data Source=ZHUJIYU;Initial Catalog=app_intesch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>